<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout Bon De Commande</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <H1>Ajout Bon De Commande</H1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
          {{ form.as_p}}
        {% endfor %}
        <button id="add-field-button">Ajouter un produit</button>
        <input type="submit" value="Enregistrer">
      </form>
    <a href="{%url 'BonDeCmd'%}">Retour</a>
</body>
</html>
<script>document.getElementById('add-field-button').addEventListener('click', function() {
   
  // Envoyer une requête AJAX au serveur pour récupérer un nouveau champ de formulaire
  fetch("{%url 'new_form_field'")
    .then(function(response) {
      return response.text();
    })
    .then(function(html) {
      // Ajouter le nouveau champ de formulaire à la page
      document.getElementById('form-fields').innerHTML += html;
    });
});
</script>