<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bon De Commande</title>
</head>
<body>
    <h1>Ici Vous Pouvez Voir et Ajouter les bon De Commande</h1>
    <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Fournisseur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {%for bon in bon %} 
        <tr>
            <td>{{bon.date_b}}</td>
            <td>{{bon.fournisseur.nom_f}}</td>
            <td>
            <a href="{%url 'details_bon' bon.id%}">details</a>
            <a href="{%url 'supprime_bon' bon.id%}">Supprime</a>
            </td>
        </tr>
        {%endfor%}
        <!-- on peut ajouter des un boutons details qui va afficher toute la liste des produit dans le bon -->
    </tbody>
    </table>
    <a href="{%url 'Ajout_BonDeCmd' %}">Ajoute un bon</a>
</body>
</html>