<!DOCTYPE html>
<html>
    {%load static%}
  <head>
    <title>Page des produits</title>
    <link rel="stylesheet" href="{%static 'produit.css'%}">
  </head>
  <body>
    <h1>Liste des entrée </h1>
    <table>
      <thead>
        <tr>
            <th>Produit</th>
            <th>Type</th>
            <th>Prix acheté</th>
            <th>Prix vendu</th>
            <th>Fournisseur</th> 
            <th>Quantité entrée</th>
            <th>Date entrée</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <h3>Choisir les champs à filtrer et remplissez-les </h3>
        <form action="" method="get" id="filterForm">

          <label for="max_price"> Prix maximum : </label>
          <input type="text" name="max_price" id="max_price"><br>
          
          <label for="min_price"> Prix minimum : </label>
          <input type="text" name="min_price" id="min_price"><br>


          <label for="type">Type du Produit :  </label>
          <select name="type" id="type">
            <option value="">-</option>
            {% for type in TypeProduits %}
            <option value="{{type.id}}">{{type.nom_t}}</option>
            {% endfor %}
          </select><br>

          <label for="produit">Produit :  </label>
          <select name="produit" id="produit">
            <option value="">-</option>
            {% for produit in Produits %}
            <option value="{{produit.id}}">{{produit.nom_p}}</option>
            {% endfor %}
          </select><br><br>

          <input type="submit" value="Filtrer">
          <a href="{% url 'produitEntreeStock' %}">Réinisialier la recherche</a>
        </form>

        <br>
        <br>

        {% for produitEntreeStock in ProduitEntreeStock %}
        <tr>
            <td>{{ produitEntreeStock.produit.nom_p}}</td>
            <td>{{ produitEntreeStock.produit.type_produit.nom_t}}</td>
            <td>{{ produitEntreeStock.prix_unite_ht}}</td>
            <td>{{ produitEntreeStock.produit.prix_vd}}</td>
            <td>{{ produitEntreeStock.entree_stock.fournisseur.nom_f}} {{ produitEntreeStock.entree_stock.fournisseur.prenom_f}}</td>
            <td>{{ produitEntreeStock.quantite }}</td>
            <td>{{ produitEntreeStock.entree_stock.date_e }}</td>

          <td>
            <a href="{%url 'modifier_produitEntreeStock' produitEntreeStock.id%}">Modifier</a>
            <a href="{%url 'supprimer_produitEntreeStock' produitEntreeStock.id%}">Supprimer</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{%url 'ajouter_entreeStock' %}">Ajouter un produit entrée en stock</a>
    <a href="{%url 'rechercher_produitEntreeStock'%}">Rechercher</a>
    <button onclick="window.print()">Imprimer la liste</button>
  </body>
</html>
