<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'produit.css'%}">
</head>
<body>
<form action='' method="get" class="form">
<label for="search"> Entrez le nom du produit: </label>
<input type="text" name="recherche" id="search">
<button type="submit" class=""> demarrer la recherche </button>
</form>
<h4> resultat de reherche : </h4>
<table>
    <thead>
      <tr>
        <th>Désignation</th>
        <th>Type</th>
        <th>Prix acheté</th>
        <th>Prix vendu</th>
        <th>Quantité</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.nom_p}}</td>
        <td>{{ product.type_produit.nom_t}}</td>
        <td>{{ product.prix_HT}}</td>
        <td>{{ product.prix_vd }}</td>
        <td>{{ product.quantite }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>